@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hannah Southwick";
}
@*<nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Calculator">Calculate Grade</a>
    </nav>*@
<h1>A small peak into the life of Hannah Southwick</h1>
<br />
<img id="skipic" src="~/img/skiprofile.jpg" />
<br />

<br />
<center>
    <p>
        Like skiing (which I love to do), coding and technology takes practice. For this Enterprise Application Development
        class (IS413) I hope to be able to practice and gain skills and knowledge exponentially. I understand that "exponentially"
        can be a lot to ask for but if I put my mind and time towards something, I know I can progress. For this class, I want to
        progress and continue to fill my coding arsenal of useful skills.
    </p>
</center>
<br />

<p>Jobs to Pursue Upon Graduating:</p>
<ul>
    <li>1. Data Analyst</li>
    <li>2. Website Developer</li>
    <li>3. Software Engineer</li>
</ul>